body{ 
    font-family: 'Exo', sans-serif;
    background: url(../img/newspaper_bg) no-repeat 50% 80% fixed;
    background-size: cover ;

}

.navbar {
    position: relative;
    background: black;
    padding-left: 200px;
    margin-top: 0;
    border-bottom: solid orangered 2px;
}

.display-4 {
    background: whitesmoke;
    color: black;
    border-radius:10px;
    border: solid orangered 2px;
    font-weight: bold;
}

.font-italic {
    background: whitesmoke;
    color: black;
    border-radius:10px;
    border: solid orangered 2px;
    font-weight: bold;
    font-size: large;
    height: 40px;
}

.btn-custom-green {
    background: green;
}

.divider {
    border-bottom: solid black 4px;
}

#noArticles {
    background: whitesmoke;
    color: black;
    border: solid orangered 2px;
    font-weight: bold;
    font-size: large;
}
#message {
    background: whitesmoke;
    color: black;
    border-radius:10px;
    border: solid orangered 2px;
    font-weight: bold;
    font-size: large;

}

.article {
    background: whitesmoke;
    color: black;
    border-radius:10px;
    border: solid orangered 2px;
    height: 250px;
    font-weight: bold;
}

.summary {
    font-size: 16px;
    color: #333333;
}

.text-custom-yellow {
    color: #fdc842;
}
.text-custom-yellow:hover {
    color: #e44f50;
}

.card-footer {
    position: relative;
    background: black;
    color: whitesmoke;
    border-top: solid orangered 2px;
}